body {
  height: 100vh;
  background-color: #85c7cf;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 954px;
  height: 594px;
  background: linear-gradient(
    to right,
    red 0%,
    red 60%,
    orange 60%,
    orange 100%
  );
}

.duck {
    position: relative;
    left: 300px;
    top: 40px;
    right: 0px;
    bottom: 0px;
}
